html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

 .myModal{
    width: 80%;
    margin: 30px auto;
  }
  
   .myModal2{
    width: 25%;
    margin: 20px auto;
  }

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(238, 238, 238, 1.0); /*rgba(255,0,0,0.8); */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.ui-dialog-contain {
	width: 92.5%;
	max-width: 92.5%;
	margin: auto auto auto auto;
	padding: 0;
	position: relative;
	top: -5px;
}

#table {
	table-layout:fixed;
}

#table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
  
  #nome_completo{
   font-size: 250%;
  }
}

@media (max-width: 2200px) {
	.modal-body{
margin-left:13px;
}
	}
	
@media (max-width: 1200px) {
	.modal-body{
margin-left:5px;
}
	}
	
	@media (max-width: 764px) {
	.modal-body{
margin-left:-14px;
}
	}




textarea {
    resize: none;
}

.error
{
 border-color:red;
 border-style:solid;
 border-width:1px;
}


 .fixed-table-toolbar .search {
   margin-right:15px !important;
   margin-bottom:2px;
}

.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}
